module.exports = {
  apps: [
      {
        env: {
          PORT: 80,
          POSTGRES_CLIENTS: {
            db: "postgres://username:password@host:port/database-name?ssl=false", // Host is 'database' if you use the Docker compose file.
          },
        },
        name: "api",
        script: "./transpiled-app/backend.js",
        watch: true,
      },
  ],
};
